*.pyc
*.google-cookie
**/__pycache__/
*.txt
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/TestingSourceTree.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
